.contacts__page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  gap: 6px;

  @media (max-width: 999.9px) {
    height: calc(100vh - 120px);
  }
}