.card__container {
  display: flex;
  align-items: center;
  height: 45vw;
  padding: 60px 100px;

  @media (max-width: 999.9px) {
    height: 69vw;
    padding: 15px;
  }
}

.card__img {
  width: calc(40vw - 100px);
  height: calc(40vw - 100px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 999.9px) {
    width: calc(40vw - 15px);
    height: calc(40vw - 15px);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(60vw - 100px);
  height: 100%;
  gap: 15px;
  padding-left: 10vw;

  @media (max-width: 999.9px) {
    width: calc(60vw - 15px);
  }
}

.card__title {
  font-size: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  @media (max-width: 699.9px) {
    font-size: 24px;
  }
}

.card__text {
  overflow-y: hidden;
  line-height: 22px;
  max-height: 220px;

  @media (max-width: 1199.9px) {
    max-height: 154px;
  }

  @media (max-width: 999.9px) {
    max-height: 110px;
  }

  @media (max-width: 699.9px) {
    max-height: 66px;
  }
}

.card__button {
  max-width: 150px;
  color: #5EA8A7;
  background-color: #ffffff;
  padding: 5px 9px;
  border: 2px solid #5EA8A7;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: #e2e2e2 0 0 7px 1px;

  &:hover {
    color: #4f8e8c;
    border: 2px solid #4f8e8c;
  }

  &:active {
    box-shadow: none;
    background-color: #ffffff;
  }
}