.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 100px;

  @media (max-width: 999.9px) {
    padding: 0 15px;
    box-shadow: #cccccc 0 0 2px 1px;
  }
}

.header__logo {
  width: 180px;
  height: 53px;
  background: url(../../assets/img/svg/logo.svg) no-repeat bottom;
  background-size: 100%;
  filter: invert(38%) sepia(39%) saturate(822%) hue-rotate(139deg) brightness(94%) contrast(81%);
  cursor: pointer;
}

.login__button {
  width: 75px;
  height: 30px;
  font-size: 15px;
  color: #ffffff;
  background-color: #FF4447;
  box-shadow: #e2e2e2 0 0 7px 1px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #f24244;
  }

  &:active {
    box-shadow: none;
    background-color: #FF4447;
  }
}