.app__scroll__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--client-height);
  background: url(../assets/img/background.jpg) center no-repeat;
  background-size: cover;
}