.navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: calc((100vw - 200px) / 2.5);
  height: 60px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 999.9px) {
    width: 100%;
    height: 60px;
    top: auto;
    bottom: 0;
    box-shadow: #cccccc 0 0 2px 1px;
    background-color: #ffffff;
  }
}

.about, .content, .documents, .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(38%) sepia(39%) saturate(822%) hue-rotate(139deg) brightness(94%) contrast(81%);
  cursor: pointer;
  transition-duration: 0.1s;
}

.about {
  background-image: url(../../assets/img/svg/graduation-cap.svg);
}

.content {
  background-image: url(../../assets/img/svg/world.svg);
}

.documents {
  background-image: url(../../assets/img/svg/document.svg);
}

.contacts {
  background-image: url(../../assets/img/svg/clip.svg);
}

.current {
  background-size: 90%;
  filter: invert(29%) sepia(100%) saturate(1690%) hue-rotate(336deg) brightness(102%) contrast(100%);
}