.navigation__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 60px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  @media (max-width: 999.9px) {
    flex-direction: row;
    width: 100%;
    height: 60px;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: #cccccc 0 0 2px 1px;
    background-color: #ffffff;
  }
}

.about, .content, .documents, .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert(38%) sepia(39%) saturate(822%) hue-rotate(139deg) brightness(94%) contrast(81%);
  cursor: pointer;
}

.about {
  background-image: url(../../assets/img/svg/graduation-cap.svg);
}

.content {
  background-image: url(../../assets/img/svg/world.svg);
}

.documents {
  background-image: url(../../assets/img/svg/document.svg);
}

.contacts {
  background-image: url(../../assets/img/svg/clip.svg);
}